[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yunxiao-cli = {file = ".", editable = true}
pyyaml = "*"
aliyun-python-sdk-sts = "*"
aliyunsdkcore = "*"
click = "*"
selenium = "*"
webdriver-manager = "*"
rich = "*"
pypinyin = "*"
questionary = "*"

[dev-packages]

[requires]
python_version = "3.12"
